@use "variables" as *;

.footer {
  background: $color-footer-bg;
  color: $color-white;
  text-align: center;
  padding: 3rem 1rem;
  font-size: $font-size-one-half;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
}

/* Tablets: hasta 1024px */
@media (max-width: 1024px) {
  .footer {
    font-size: $font-size-one-quarter;
    padding: 1.5rem 1rem;
  }
}

/* Celulares: hasta 600px */
@media (max-width: 600px) {
  .footer {
    font-size: $font-size-one;
    padding: 1rem 0.5rem;
  }
}
